---
name: Sphinx build

"on":
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read

jobs:
  sphinx-build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      pages: write
    steps:
      # v6.0.2
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Install uv
        # v7.3.0
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          sudo apt-get install libkrb5-dev gcc

      - name: Build HTML
        run: make
        working-directory: ./doc

      - name: Upload artifacts
        # v6.0.0
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: html-docs
          path: ./doc/html/

      - name: Deploy Master Docs to GitHub Pages
        if: ${{ github.ref == 'refs/heads/master' }}
        # v4.0.0
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e  # yamllint disable-line rule:line-length
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc/html
          publish_branch: gh-pages
          keep_files: false
