name: Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.13"
          enable-cache: true

      - name: Install python
        run: uv python install

      - name: build
        run: uv build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: dist/
          retention-days: 7
          if-no-files-found: error

  pypi:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    environment:
        name: pypi-publishing
        url: https://pypi.org/project/jenkinsapi/
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: package
          path: dist

      - name: Show tree
        run: tree

      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1

  asset:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: package
          path: dist

      - name: Show tree
        run: tree

      - name: Add release asset
        uses: softprops/action-gh-release@a74c6b72af54cfa997e81df42d94703d6313a2d0
        with:
          tag_name: ${{ github.event.release.tag_name }}
          fail_on_unmatched_files: true
          files: |
            dist/*
