name: Release

on:
  release:
    types: [published]

permissions:
    contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.13"

      - name: Set pyproject.toml version from release tag
        run: |
          uv version "${GITHUB_REF##*/}"

      - name: Install python
        run: uv python install

      - name: build
        run: uv build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: dist/
          retention-days: 7
          if-no-files-found: error

  pypi:
    if: startsWith(github.ref, 'refs/tags/')  # only publish to PyPI on tag pushes
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    environment:
        name: gha
        url: https://pypi.org/project/jenkinsapi/
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: package
          path: dist

      - name: Show tree
        run: tree

      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1

  asset:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: package
          path: dist

      - name: Show tree
        run: tree

      - name: Add release asset
        uses: softprops/action-gh-release@62c96d0c4e8a889135c1f3a25910db8dbe0e85f7
        with:
          tag_name: ${{ github.event.release.tag_name }}
          fail_on_unmatched_files: true
          files: |
            dist/*
